<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ page.title }}</title>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    <!-- Favicon -->
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.jpeg">

    <!-- JavaScript -->
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>

    {% feed_meta %}
    {% seo %}

</head>
<body>
    <div class="container">
        <header>
            <img src="{{ site.baseurl }}/assets/images/profile.jpeg" alt="Profile Picture"
            class="profile-picture">
            <h1>{{ site.title }}</h1>
            <p>{{ site.description}}</p>
        </header>
    
    <nav>
    {% include navigation.html %}
    </nav>

    <main>
    {{ content }}
    </main>

    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
    </footer>
    </div>
</body>
</html>